@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.app {
  display: flex;

  @include for-phone-only {
    display: block;
  }
}

.textAreaContainer {
  height: 90vh;
  flex: 2;

  @include for-phone-only {
    height: 40vh;
  }
}

.textArea {
  width: 100%;
  height: 100%;
  resize: none;
}

.scoreContainer {
  margin: 0px 0px 0px 12px;
  flex: 1;

  @include for-phone-only {
    margin: 12px 0px 0px 0px;
  }

  .table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  td, th {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }
}

img {
  height: 1em;
  padding-left: 8px;
}
